body {
  text-align: center;
  font-family: Helvetica;
}

header{
  background-image: url("images/the-flatiron-building.png");
  background-position: center top;
}

header nav li {
  list-style-type: none;
}

header nav a {
  font-size: 18px;
  color: white;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}
